body{
  padding: 50px 0px;
}

section p{
  margin: 0px;
}

section h1{
  padding-top: 9px;
  margin: 0px;
}
.social_media{
  margin: 5px;
}
.table{
  border: 1px solid #6F7687;
  margin-bottom: 20px;
}

.table_head p{
  background-color: rgba(217, 228, 252, 1);
  padding: 2px 4px;
  font-size: 14px;
  color: rgba(67, 78, 92, 1);
  font-weight: bold;
}

.highlighter{
  font-weight: bold;
  color: #c24b4b;
}
.double_line{
  height: 3px;
  border-width: 1px 0px;
  border-color: #6F7687;
  border-style: solid;
}

.table_body{
  padding:10px 25px 10px;
  color: rgba(67, 78, 92, 1);
  font-weight: initial;
}

.name_block{
  border-width: 2px 0px;
  border-style: solid;
  border-color: #6F7687;
  color: rgba(67, 78, 92, 1);
}

.time{
  font-size: 12px;
  line-height: 15px;
  color: #428BCA;
}
.company_logo , .social_media{
  float:right;
}
.company_pod{
  margin: 25px 0px;
}

.company_pod:not(:first-child) {
  padding-top: 10px;
  border-top: 1px dotted #b3b3b3;
}
.company_summary{
  margin-top: 10px;
}
.work_details {
  margin-left: 30px;
}
.work_details_title{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.projectDesc , .contribution{
  margin: 5px 15px 0px;
}

/*.contribution{
  margin-left: 20px;
}*/
p.projectTitle::before{
  content:'\2756 ';
}

p.projectDesc::before{
  content:'Solution: ';
  font-weight: bold;
}

p.contribution::before{
  content:'Contribution: ';
  font-weight: bold;
}



.not_relevant{
  display: none
}
